@import 'pallete';

.icon-edit, .icon-delete {
	width: 32px;
	height: 32px;

	&:hover {
		cursor: pointer;
	}
}

.edit-modal {
	max-width: unset;
	width: 50%;
}

.task-waiting {
	backround: $orange !important;
}

.task-done {
	backround: $lightGreen;
}
